@font-face {
    font-family: "Mali";
    src: url("css/fonts/Mali-Regular.ttf") format("truetype");
}


@media (min-width: 320px)  {  

    time.icon {
        font-size: 1em;
        width: 65px;
        height: 65px;
    }  
    
    time.icon span {
        /* 01 */
        font-size: 1.5em;
        font-weight: bold;
        padding: 32px 0px 0px 0px;
        color: #FF6600;
    }    
    
    .days_box_gg {      /* reforço + refazer */
        font-size: 0.9em;
        display: block;
        position: relative;
        width: 110px;
        height: 65px;
        background: linear-gradient(#cc9900, #806000);
        border-radius: 8px;
        overflow: hidden;
        font-weight: bold;
        padding: 10px;
        color: #FFFFF0;
    }    
    
    .days_box_gg_icon {
        font-size: 1.5em;    
    }
    
    .img_logo {
        width: 275px;
        height: 185px;
    }
    
    .quote_text {
        font-size: 0.9em;
        line-height: 120%;
        color: #EEEEEE;
        padding: 10px 10px 10px 10px;
    }    
    
    .quote_sign {
        font-size: 0.75em;
        color: #CCCCCC;
        text-align: right;
        padding: 0px 50px 20px 0px;
    }    
    
}


@media (min-width: 400px)  { 
    
    .img_logo {
        width: 306px;
        height: 205px;
    }
    
    .quote_text {
        font-size: 1.1em;
        line-height: 120%;
        color: #EEEEEE;
        padding: 10px 10px 10px 10px;
    }    
    
    .quote_sign {
        font-size: 0.9em;
        color: #CCCCCC;
        text-align: right;
        padding: 0px 50px 20px 0px;
    }    
    
}

@media (min-width: 480px)  {
    
    
    time.icon {
        font-size: 1.25em;
        width: 70px;
        height: 70px;
    }  
    
    time.icon span {
        /* 01 */
        font-size: 2em;
        font-weight: bold;
        padding: 25px 0px 0px 0px;
        color: #FF6600;
    }    
    
    .days_box_gg {      /* reforço + refazer */
        margin: 0px 0px 0px 0px;
        font-size: 2em;
        display: block;
        position: relative;
        width: 120px;
        height: 70px;
        background: linear-gradient(#cc9900, #806000);
        border-radius: 8px;
        overflow: hidden;
        font-weight: bold;
        padding: 20px 0px 0px 0px;
        color: #FFFFF0;
    }    

    .days_box_gg_icon {
        font-size: 2em;    
    }
    
    .img_logo {
        width: 417px;
        height: 279px;
    }    
    
    .quote_text {
        font-size: 1.1em;
        line-height: 120%;
        color: #EEEEEE;
        padding: 10px 10px 10px 10px;
    }    

    .quote_sign {
        font-size: 0.9em;
        color: #CCCCCC;
        text-align: right;
        padding: 0px 50px 20px 0px;
    }    
    
}

@media (min-width: 600px)  { 

    .section_home {
        max-width: 720px;    
    }
    
    .section_about {
        max-width: 720px;
    }
    
    .section_account {
        max-width: 720px;
    }
    
    .section_board {
        max-width: 720px;
    }
    
    .section_conf {
        max-width: 720px;
    }
    
    .section_conf_board {
        max-width: 720px;
    }
    
    .section_conf_idioma {
        max-width: 720px;
    }
    
    .section_conf_sounds {
        max-width: 720px;
    }
    
    .section_conf_treino {
        max-width: 720px;
    }
    
    .section_days {
        max-width: 720px;
    }
    
    .section_home{
        max-width: 720px;
    }
    
    .section_help {
        max-width: 720px;
    }
    
    .section_help_answers {
        max-width: 720px;
    }
    
    .section_help_questions {
        max-width: 720px;
    }
    
    .section_menu {
        max-width: 720px;
    }
    
    .section_mods_store {
        max-width: 720px;
    }
    
    .section_naveg {
        max-width: 720px;
    }
    
    .section_stats {
        max-width: 720px;
    }
    
    .section_suporte {
        max-width: 720px;
    }
    
    time.icon {
        font-size: 1.25em;
        width: 110px;
        height: 110px;
    }    
    
    time.icon span {
        /* 01 */
        font-size: 3.5em;
        font-weight: bold;
        padding: 20px 0px 0px 0px;
        color: #FF6600;
    }    
    
    .days_box_gg {      /* reforço + refazer */
        margin: 0px 0px 0px 0px;
        font-size: 1em;
        display: block;
        position: relative;
        width: 190px;
        height: 110px;
        background: linear-gradient(#cc9900, #806000);
        border-radius: 8px;
        overflow: hidden;
        font-weight: bold;
        padding: 20px 0px 0px 0px;
        color: #FFFFF0;
    }
    
    .days_box_gg_icon {
        font-size: 2.5em;    
    }
    
    .img_logo {
        width: 550px;
        height: 369px;
    }    
    
    .quote_text {
        font-size: 1.1em;
        line-height: 120%;
        color: #EEEEEE;
        padding: 10px 10px 10px 10px;
    }    
    
    .quote_sign {
        font-size: 0.9em;
        color: #CCCCCC;
        text-align: right;
        padding: 0px 50px 20px 0px;
    }    

}




body {
    margin: 0px;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    font-family: "Mali";
    font-weight: normal;
    background: #1770a5;
    min-height: 100vh;
    /*display: flex;*/
}




canvas {
    margin: 0px 0px 0px 0px;
    opacity: 0.3;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
}


.layer_tip {
    margin: 0px 0px 0px 0px;
    opacity: 0.3;
    left: 0;
    top: 0;
    display: block;
    position: absolute;
}


.action-button {
    position: relative;
    padding: 10px 10px;
    margin: 0px 6px 0px 6px;
    float: left;
    border-radius: 5px;
    font-size: 1em;
    color: #FFFFFF;
}

.action-button:active {
    transform: translate(2px, 2px);
    -webkit-transform: translate(2px, 2px);
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}


.animate {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}



.badge {
    position: relative;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -20px;
    right: 4px;
    font-size: 12px;
    background: #CC0000;
    color: white;
    text-align: center;
    line-height: 18px;
    border-radius: 20%;
    box-shadow: 0 0 1px #333;
    width: 20px;
    padding: 2px;
}

.but_nav_board {
    margin: 0px 8px 0px 0px; 
    width: 60px; 
    height: 60px; 
    background: linear-gradient(#cc9900, #806000); 
    border: 1px solid #777777; 
    padding: 2px 0px 0px 0px; 
    border-radius: 50%;
}

.but_nav_board_redo {
    margin: 0px 8px 0px 0px; 
    width: 60px; 
    height: 60px; 
    background: linear-gradient(#cc9900, #806000); 
    border: 1px solid #777777; 
    padding: 4px 0px 0px 0px; 
    border-radius: 50%;
}

.cover_img {
    border: 0px solid #DDDDDD;
    padding: 2px;
    border-radius: 5px;
}


.centered-content {
    display: inline-block;
    vertical-align: middle;
}


.chat_box_ic {
    width: 85%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #b3ffff;
    background-color: #b3ffff;
    border-radius: 4px;
    text-align: left;
    float: right;
    line-height: 120%;
}

.chat_box_ic_alt {
    width: 85%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #b3ffff;
    background-color: #b3ffff;
    border-radius: 4px;
    text-align: left;
    float: right;
    line-height: 120%;
}

.chat_box_user {
    width: 85%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccff99;
    background-color: #ccff99;
    border-radius: 4px;
    text-align: left;
    line-height: 120%;
}

.chat_box_user_alt {
    width: 85%;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccff99;
    background-color: #ccff99;
    border-radius: 4px;
    text-align: left;
    line-height: 120%;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_box {
    width: 96%;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #0000FF;
    background-color: #2E96FF;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;
}


.form_box_info {
    width: 94%;
    padding: 5px;
    color: #2655c5;
    font-weight: bold;
    border: 1px solid #0000FF;
    background-color: #ffd140;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;
}


.form_box_nav {
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    background: #374354;
    text-align: center;
    border-right: 3px groove #667a96;
    height: 50px;
}

.form-control::-webkit-input-placeholder {
    color: #99CC99;
}


.help_answers_area {
    width: 100%;
    /*margin: 10px 0px 0px 0px;
padding: 10px 0px 10px 0px;*/
    border: 0px solid #0000FF;
    background: radial-gradient(#afd1e5, #ffffff);
    color: #333333;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;
}

.line_bibli {
    font-size: 12px;
    color: #FFCC00;
    text-align: left;
    padding: 0px 0px 0px 0px;

}

.modulo_descr {
    font-size: 18px;
    color: #ff6c25;
    text-align: left;
    padding: 0px 10px 0px 10px;
}

.modulo_titulo {
    font-size: 18px;
    color: #ff6c25;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.store_descr {
    font-size: 12px;
    min-height: 150px;
    color: #333333;
    text-align: left;
    padding: 0px 10px 0px 10px;
}

.modulo_descr2 {
    font-size: 12px;
    color: #333333;
    text-align: left;
    padding: 0px 10px 0px 10px;
}

.overlay {
    position: relative;
    color: #0000CC;
    opacity: 0.99;
    top: 0px;
    left: 0px;
    z-index: 100;
}             


.section_about {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_account {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}


.section_board {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 0px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_conf {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_conf_board {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_conf_idioma {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_conf_sounds {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_conf_treino {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_days {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_home {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_help {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_help_answers {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_help_questions {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_menu {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_mods_store {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}


.section_naveg {
    width: 100%;
    margin: auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.section_stats {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}

.section_suporte {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 5px 0px 10px 0px;
    text-align: center;
    background: linear-gradient(#194e86, #1770a5);
}


.store_box {
    width: 96%;
    margin: 10px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    border: 1px solid #0000FF;
    background: radial-gradient(#afd1e5, #ffffff);
    color: #333333;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;
}



.theme_border {
    border-bottom: 1px solid #999999; 
    padding: 10px 20px 10px 20px;
}

.theme_check {
    font-size: 22px; 
    color: #ffd659; 
    float: right;
}

.theme_fill {
    border: 1px solid #FFFFFF; 
    width: 32px; 
    height: 32px; 
    float: left;
}

.theme_label {
    margin: 0px 10px 0px 10px; 
    float: left;
}

time.icon {
    display: block;
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 4px 4px #777777;
}

time.icon * {
    display: block;
    width: 100%;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

time.icon strong {
    /* day */
    position: absolute;
    top: 0;
    padding: 3px 0px 2px 0px;
    color: #fff;
    background-color: #FF6600;
}



.tit_biblioteca {
    font-size: 1.2em;
    color: #FFCC00;
    text-align: left;
    font-weight: bold;
    padding: 20px 0px 0px 10px;
    border-bottom: 1px solid #FFA929;
    margin-bottom: 10px;
}


.tit_stats {
    font-size: 1em;
    color: #FFCC00;
    text-align: left;
    font-weight: bold;
    padding: 20px 0px 0px 10px;
}



.tit_days {
    font-size: 1.25em;
    color: #FFCC00;
    text-align: left;
    font-weight: bold;
    padding: 20px 0px 0px 10px;
}

.error {
    border: 2px solid #cc0000;
}


.box_store_promo {
    width: 96%; 
    min-height: 250px;
    border: 1px solid #ffad33; 
    border-radius: 5px; 
    color: #333333; 
    background: linear-gradient(#ffc266, #ffe066); 
    -webkit-box-shadow: 0 2px 8px #9dcee7;
    -moz-box-shadow: 0 2px 8px #9dcee7; 
    -o-box-shadow: 0 2px 8px #9dcee7; 
    -ms-box-shadow: 0 2px 8px #9dcee7; 
    box-shadow: 0 2px 8px #9dcee7;
    margin: 20px 10px 20px 10px;
}

.box_store_promo_header {
    border-radius: 5px; 
    border-bottom: 1px solid #006ba2; 
    text-align: center; 
    font-size: 1.3em; 
    font-weight: bold; 
    color: #eeeeee; 
    padding: 10px; 
    background: linear-gradient(#006ba2, #3f96c3); 
    -webkit-box-shadow: 0 2px 8px #9dcee7;
    -moz-box-shadow: 0 2px 8px #9dcee7; 
    -o-box-shadow: 0 2px 8px #9dcee7; 
    -ms-box-shadow: 0 2px 8px #9dcee7; 
    box-shadow: 0 2px 8px #9dcee7;
}

.box_store_promo_body {
    text-align: left; 
    color: #333333; 
    font-size: 1em; 
    padding: 0px;
}

.box_promo_footer {
    margin: 20px 10px 10px 10px; 
    color: #cc0000; 
    font-weight: bold; 
    text-align: right;
}




.conf_lang_txt {
    font-size: 2em; 
    color: #ffd659; 
    float: right;
}

.conf_lang_flag {
    border-radius: 2%; 
    margin: 0px 10px 0px 0px;
    width: 28px;
}

.conf_lang_div {
    border-bottom: 1px solid #999999; 
    padding: 10px 20px 10px 20px;
}

.form-control::-webkit-input-placeholder {
	color: #aaaaaa;
}

.form-control::-webkit-select {
	color: #aaaaaa;
}


.box_account {
    
    margin: 10px 20px 20px 20px;
    border: 1px solid #0000FF;
    background: radial-gradient(#afd1e5, #ffffff);
    color: #333333;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;

}


.box_suporte {
    
    margin: 0px 20px 20px 20px;
    border: 1px solid #0000FF;
    background: radial-gradient(#afd1e5, #ffffff);
    color: #333333;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 8px #0099CC;
    -moz-box-shadow: 0 2px 8px #0099CC;
    -o-box-shadow: 0 2px 8px #0099CC;
    -ms-box-shadow: 0 2px 8px #0099CC;
    box-shadow: 0 2px 8px #0099CC;

}

select option {
    color: #777777;
}

#user_sexo {
    color: #aaaaaa;    
}

#user_country {
    color: #aaaaaa;    
}

#user_idioma {
    color: #aaaaaa;    
}

#user_nasc_dd {
    color: #aaaaaa;    
}

#user_nasc_mm {
    color: #aaaaaa;    
}

#user_nasc_aa {
    color: #aaaaaa;    
}



/* ----------------------------------------------------------------------------------------- CSS CHESSBOARD   */

.clearfix-7da63 {
    clear: both;
}

/* board */
.board-b72b1 {
    border: 2px solid #404040;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* square */
.square-55d63 {
    float: left;
    position: relative;

    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none; */

}

/* white square */
.white-1e1d7 {
    /*background-color: #f0d9b5; */
    background-image: linear-gradient(#f0d9b5, #f0e1ca);
    color: #b58863;
}

/* black square */
.black-3c85d {
    /*background-color: #b58863; */
    background-image: linear-gradient(#dca578, #b58863);
    color: #f0d9b5;
}

/* highlighted square */
.highlight1-32417,
.highlight2-9c5d2 {
    -webkit-box-shadow: inset 0 0 3px 3px yellow;
    -moz-box-shadow: inset 0 0 3px 3px yellow;
    box-shadow: inset 0 0 3px 3px yellow;
}

/* notation */
.notation-322f9 {
    cursor: default;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    position: absolute;
    color: #777777;
    font-style: italic;
    /*font-variant: small-caps;*/
}


.alpha-d2270 {
    bottom: 1px;
    right: 3px;
}


.numeric-fc462 {
    top: 2px;
    left: 2px;
}


